/* media queries*/
@media screen and (min-width: 1200px){
    .mainBodyFlex {
        background-image: url("./assets/tablet/image-host.jpg");
        
    }
}
/* tablet screen changes to tablet background image.*/
@media screen and (min-width: 768px) {
    .mainBodyFlex {
        background-image: url("./assets/tablet/image-host.jpg");
        
    }
}

/* mobile screen uses mobile background image.*/
@media screen and (min-width: 576px) {
    .mainBodyFlex{
        background-image: url("./assets/mobile/image-host.jpg");
    }
}

/* page body background color only*/
.body {
    background-color: #121725;  
}

/* company logo at the top left of page*/
.companyLogo {
    margin-top: 5%;
    margin-left: 8%;
}

/* section containing page content*/
.mainBodyFlex  {
    position: relative;
    width: 1275px;
    height: 640px;
    margin-left: 8%;
    margin-top: -3%;
    background-image: url("./assets/desktop/image-host.jpg");
    background-repeat: no-repeat;
    background-position: right;
}

/* contains info and email form*/
.infoFlex{
    background-color: #121725;  
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 57%;
    height: 75%;
}

/* header at the beginning of the information section*/
.infoHeader {
    font-family: 'chivo light', sans-serif;
    font-size: 3rem;
    color: #54E6AF;
    line-height: 62px;
}

/* paragraph in infoFlex container */
.infoContent {
    font-family: 'chivo light', sans-serif;
    font-size: 1em;
    color: white;
    line-height: 1.5em;
    max-width: 52%;
}

/* email form */
.formInput {
    /* display: flex;
    flex-direction: row; */
    position: relative;
    
}

/* email input field*/
.formInput input {
    max-width: 70%;
    height: 56px;
    border-radius: 28px;
}

.submitButton {
    z-index: 2;
    top: 0;
    right: 0;
    cursor: pointer;
}
