/* every html element is border box to keep sizing accurate */
* {
    box-sizing: border-box;
}

/* Sets default page font size to 16px */
html {
    font-size: 16px;
}

/* creates 6 column 9 row layout for entire page */
.body {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(9, 1fr);
    background-image: linear-gradient(rgba(18, 23, 37, 0.9), rgba(18, 23, 37, 0.9)), url("./assets/mobile/image-host.jpg");
    background-repeat: no-repeat;
}

/* company logo is centered in the screen with 1 row on top and on bottom */
.companyLogo {
    grid-column: 3 / span 2;
    grid-row: 2 / span 1;
}

/* main body content is centered on the screen and spans the remaining height with 1 row on bottom */
.mainBodyFlex {
    grid-column: 1 / span 6;
    grid-row: 4 / span 6;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
}

/* info header */
.infoHeader {
    font-family: 'chivo light', sans-serif;
    font-size: 26px;
    color: #54E6AF;
    line-height: 38px;
}

.headerTextColor {
    color: #ffffff;
}

.infoContent {
    font-family: 'chivo light', sans-serif;
    font-size: 16px;
    color: #C2CBE5;
}

/* dot pattern image is hidden on mobile and the space is used by the main body content */
.dotPattern {
    visibility: collapse;
}

.socialBar {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1;
    column-gap: 0.8rem;
    /* display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center; */
}

.spotify {
    max-width: 100%;
    height: auto;
}

.applePod {
    max-width: 100%;
    height: auto;
}

.googlePod {
    max-width: 100%;
    height: auto;
}

.pocketCast {
    max-width: 100%;
    height: auto;
}